:root {


}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}

.page-container {
    width: 100vw;
    height: 100vh;
    background: #eff0f2;
    display: flex;
    justify-content: center;
    align-items: center;

}

.shadow {
    -webkit-box-shadow: 27px 43px 43px -26px rgba(89, 89, 89, 0.39);
    -moz-box-shadow: 27px 43px 43px -26px rgba(89, 89, 89, 0.39);
    box-shadow: 27px 43px 43px -26px rgba(89, 89, 89, 0.39);
}


.shadow-light {
    -webkit-box-shadow: 45px 45px 104px -33px rgba(38, 38, 38, 0.92);
    -moz-box-shadow: 45px 45px 104px -33px rgba(38, 38, 38, 0.92);
    box-shadow: 45px 45px 104px -33px rgba(38, 38, 38, 0.92);

}

.login-form-container {

    background: #f5f5f5;
    width: 860px;
    height: 540px;
    display: flex;
    flex-direction: row;
    box-shadow: 10px black;
    border-radius: 10px;

}

.login-form-right-side {
    width: 50%;
    border-radius: 10px 0px 0px 10px;
    padding: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: radial-gradient(ellipse farthest-corner at 0 140%, #5d9dff 0%, #2178ff 70%, #3585ff 70%);
}

.login-form-right-side h1 {
    color: white;
    width: 100%;
    text-align: right;
    opacity: 0.9;

}

.login-form-right-side p {
    padding-top: 50px;
    font-size: 12px;
    text-align: right;
    opacity: 0.8;
}

.login-form-left-side {
    width: 50%;
    border-radius: 0px 10px 10px 0px;
    display: flex;

    flex-direction: column;
    align-items: center;
    padding: 40px;

    background: rgb(255, 255, 255);
    background: linear-gradient(287deg, rgba(255, 255, 255, 1) 0%, rgba(243, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.login-form-left-side .login-top-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.login-form-left-side .login-top-wrap span {
    color: gray;
    font-size: 11px;
    padding-right: 20px;

}

.login-form-left-side .login-top-wrap .create-account-btn {
    background: white;
    border: 0;
    width: 85px;
    height: 35px;
    font-size: 11px;
    color: #2178ff;
    border-radius: 3px;

}

.login-input-container {
    padding-top: 120px;
    width: 300px;
}

.login-input-container .login-input-wrap {
    width: 300px;
    height: 45px;
    margin-top: 20px;
    border-radius: 2px;
    border-bottom: solid 2px #2178ff;

}

.login-input-container .login-input-wrap i {
    color: #2178ff;
    line-height: 45px;
}

.login-input-container .login-input-wrap input {
    background: none;

    border: none;
    line-height: 45px;
    padding-left: 10px;
    width: 267px;
}

.login-input-container .login-input-wrap input:focus {
    outline: none;
}

.login-btn-wrap {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.login-btn-wrap .login-btn {
    width: 95px;
    height: 35px;
    color: white;
    border: 0;
    border-radius: 4px;
    background: #3563E9;
}

.login-btn-wrap a {
    margin-top: 10px;
    text-decoration: none;
    font-size: 11px;
    color: gray;

}